#main-layout {
  margin: 0em;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "header-block header-block"
    "about-block about-block"
    "dish-grid-block dish-grid-block"
    "footer-block footer-block";
  gap: 1em;
  @media (min-width: 1028px) {
    grid-template-areas:
      "header-block header-block"
      "dish-grid-block about-block"
      "footer-block footer-block";
  }
}
body {
  background-color: #ede0d4;
}
.header {
  grid-area: header-block;
}
.dish-grid-container {
  background-color: #333;
  grid-area: dish-grid-block;
}
.about {
  grid-area: about-block;
}
.footer {
  grid-area: footer-block;
}
