#main-layout {
  margin: 0em;
  background-color: darkcyan;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: 
  "header-block header-block"
  "about-block about-block"
  "dish-grid-block dish-grid-block"
  "footer-block footer-block";
  gap: 1em;
  @media (min-width: 1028px){
    background-color: red;
    grid-template-areas: 
    "header-block header-block"
    "dish-grid-block about-block"
    "footer-block footer-block";
  }
}
.header {
  background-color: coral;
  grid-area: header-block;
}
.dish-grid-container {
  background-color: #333;
  grid-area: dish-grid-block;
}
.about {
  background-color: blueviolet;
  grid-area: about-block;
}
.footer {
  background-color: cornflowerblue;
  grid-area: footer-block;
}